/* css */


h1{
    position: absolute;
    top: 50%;
    left: 40%;
}

.invs{
    color: black;
    border-color: white;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 80%;
    top: 30%;
    cursor: pointer;

}

#title-image{
    display: none;
}

#enter-image{
    display: none;
}

.title{
    position: absolute;
    top: 40%;
    left: 17%;
}


.enter{
    position: absolute;
    top: 40%;
    left: 17%;
}


@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.news.floating-animation {
    animation: floatUpDown 2s ease-in-out infinite;
}


.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.subscription-pop-up{
    position: absolute;
    left: 41%;
    top: 50%;
    background-color: rgb(133, 73, 255);
    
}